.home {
  background-color: var(--violet);
  width: 100%;
  position: relative;
  overflow: hidden;

  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(https://colyze-client.vercel.app/wave.png);
    background-size: 1000px;
  }

  .wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }

  .wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 5px;
  }

  .wave3 {
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 10px;
  }

  .wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 15px;
  }

  @keyframes animate {
    0% {
      background-position-x: 0;
    }

    100% {
      background-position-x: 1000px;
    }
  }

  @keyframes animate2 {
    0% {
      background-position-x: 0;
    }

    100% {
      background-position-x: -1000px;
    }
  }

  .container {
    margin-top: 6rem;
    display: flex;
    font-size: 20px;
    padding: 1.2rem 2.5rem;

    .content {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: flex-start;
      .title {
        font-family: $title-font;
        font-size: 5rem;
      }
      .sub-content {
        font-family: $bodyContent-font;
        font-size: 1.3rem;
        text-align: justify;
        line-height: 2rem;
        max-width: 900px;
      }

      button {
        padding: 0.8rem 1.5rem;
        border: 2px solid var(--light-violet);
        background-color: var(--light-violet);
        border-radius: 0.5rem;
        color: var(--light-white);

        &:hover {
          background-color: var(--violet);
          transition: .3s ease-out;
          cursor: pointer;
        }
      }
    }
    .image-container {
      text-align: center;
      position: relative;
      z-index: 10;
    }
  }

  @media screen and (min-width: 280px) and (max-width: 1080px) {
    .home {
      height: 100%;
    }
    .wave {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background: url(https://colyze-client.vercel.app/wave.png);
      background-size: 1000px;
    }

    .container {
      margin-top: 0;
      display: flex;
      flex-direction: column;
      .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .title {
          font-size: 3.5rem;
        }

        .sub-content {
          font-size: 1rem;
        }
      }
    }

    .image-container {
      text-align: center;
      position: relative;
      z-index: 10;

      img {
        width: 400px;
        height: 400px;
      }
    }
  }
}
